<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".RuntimeProfile" mimeType="application/x-javascript" />
            <mimeMap fileExtension=".spritefont" mimeType="application/spritefont" />
            <mimeMap fileExtension=".xnb" mimeType="application/xnb" />
        </staticContent>
    </system.webServer>
</configuration>
